.navbar_container {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.navbar_container a {
    color: var(--primary-text-color);
}

.navbar_container a:active {
    color: var(--supportive-pink);
}

.navbar_container a:hover {
    color: var(--supportive-pink);
}

.navbar_container ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_container li {
    margin: 0 1rem;
}

.secondary_navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.secondary_navbar li {
    margin: 0 1rem;
}